#canvas-container {
    position: relative; 
    width: 500px;
    height: 500px; 
}

canvas {
    position: absolute;
    left: 0;
    top: 0; 
    border: 1px solid #d3d3d3;
}

#planets { 
    z-index: 1;
}

#trace {
    z-index: -1;
}